# Http Server Properties
BIND_URI=https://localhost:8000
WS_FINE_LOGGING=true

# Development properties
DEVELOPMENT_MODE=false
DEV_GUI_APP_PATH=src/main/resources/webapp/

# Persistence Unit Properties
PERSISTENCE_UNIT=it.fcambi.news.jpa.some...

# Scheduled Tasks
HOURLY_ARTICLE_DOWNLOAD=true

#General
CONSOLE_LOG=false