body {
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

.green {
    background-color: #5cb85c;
}

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.spinner {
    font-size: 27px;
    padding-top: 6px;
    padding-right: 6px;
    float: right;
}

.pagination-right {
    display: inline-block;
    float: right;
}

.border-bottom {
    border-bottom: solid 1px #dbdbdb;
}

.input-group {
    margin-bottom: 3px;
}