<div class="col-xs-5">
    <h1>Articles</h1>
    <p><strong>Filters: </strong>&nbsp;
        <input type="checkbox" ng-model="onlyNotMatched" ng-change="onlyNotMatchedFilterChanged()"> Only not matched
    </p>
</div>
<dir-pagination-controls class="pagination-right"></dir-pagination-controls>
<table class="table table-striped">
    <thead>
        <tr><td ng-click="sortingCol = 'id'">Id</td><td ng-click="sortingCol = 'title'">Title</td><td ng-click="sortingCol = 'source'">Source</td></tr>
    </thead>
    <tbody>
        <tr dir-paginate="a in articles | orderBy:sortingCol | filter: onlyNotMatchedFilter | itemsPerPage: 100">
            <td>{{ a.id }}</td>
            <td>{{ a.title | limitTo : 200 }}</td>
            <td>{{ a.source | NewspaperName }}</td>
            <td><a href="#/articles/{{a.id}}">Details</a></td>
            <!--<td><a href="" ng-click="deleteArticle(a)">Delete</a></td>-->
            <td><a href="#/articles/match/{{a.id}}">Match</a></td>
        </tr>
    </tbody>
</table>