<button type="button" class="btn btn-danger" style="float: right;" ng-click="noMatch(currentArticle.id)">No Match</button>
<h1>Matching results for Article {{currentArticle.id}}</h1>
<pre><b>Title: </b>{{currentArticle.title}} - <b>From: </b>{{currentArticle.source}} - <b>Date: </b>{{currentArticle.created | date: 'dd-MM-yyyy' }}</pre>

<table class="table table-striped">
    <thead>
    <tr><td>Id</td><td>Cosine</td><td>Jaccard</td><td>Title</td><td>Date</td><td>Source</td></tr>
    </thead>
    <tbody>
    <tr ng-repeat="a in matchingArticles">
        <td>{{ a.article.id }}</td>
        <td>
            <div class="progress" style="width: 100px;">
                <div class="progress-bar" ng-class="a.similarities.cosine | toProgressColor" role="progressbar" aria-valuenow="{{a.similarities.cosine*100}}"
                     aria-valuemin="0" aria-valuemax="100" ng-style="{'width': a.similarities.cosine*100+'%'}">
                    {{a.similarities.cosine*100 | number : 0 }}%
                </div>
            </div>
        </td>
        <td>
            <div class="progress" style="width: 100px;">
                <div class="progress-bar" ng-class="a.similarities.jaccard+0.2 | toProgressColor" role="progressbar" aria-valuenow="{{a.similarities.jaccard*100}}"
                     aria-valuemin="0" aria-valuemax="100" ng-style="{'width': a.similarities.jaccard*100+'%'}">
                    {{a.similarities.jaccard*100 | number : 0 }}%
                </div>
            </div>
        </td>
        <td>{{ a.article.title | limitTo : 100 }}</td>
        <td>{{ a.article.created | date : "dd-MM-yyyy"}}</td>
        <td>{{ a.article.source }}</td>
        <td>
            <a href="#/articles/match/details/{{currentArticle.id}}-{{a.article.id}}">Details</a>
        </td>
        <td>
            <button class="btn btn-primary" type="button" ng-click="matchArticle(currentArticle.id, a.article.id)">Match</button>
        </td>
    </tr>
    </tbody>
</table>