<div class="col-xs-5">
    <h1>Front Pages</h1>
</div>
<dir-pagination-controls class="pagination-right"></dir-pagination-controls>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Id</td>
        <td>Timestamp</td>
        <td>Newspaper</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="frontpage in frontpages | itemsPerPage: 100">
        <td>{{ frontpage.id }}</td>
        <td>{{ frontpage.timestamp | date : "dd-MM-yyyy HH:mm:ss"}}</td>
        <td>{{ frontpage.newspaper | NewspaperName }}</td>
        <td>
            <a href="#/front-pages/{{ frontpage.id }}">Details</a>
        </td>
    </tr>
    </tbody>

</table>