<button type="button" class="btn btn-danger" style="float: right;" ng-click="noMatch(currentArticle.id)">No Match</button>

<pre><h4 style="display: inline;">{{currentArticle.id}} - {{currentArticle.title}}</h4> <span style="float: right;">{{currentArticle.source | NewspaperName}} @ {{currentArticle.created | date: 'dd-MM-yyyy HH:mm:ss'}}</span></pre>

<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th style="width: 65px;">Id</th>
        <th style="width: 101px;">Similarity</th>
        <th colspan="2">Description</th>
        <th style="width: 130px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="n in newsList">
        <td>{{ n.news.id }}</td>
        <td>
            <div class="progress" style="width: 100px;">
                <div class="progress-bar" ng-class="n.similarities[similarityKey] | toProgressColor" role="progressbar"
                     aria-valuenow="{{n.similarities[similarityKey]*100}}"
                     aria-valuemin="0" aria-valuemax="100" ng-style="{'width': n.similarities[similarityKey]*100+'%'}">
                    {{n.similarities[similarityKey]*100 | number : 0 }}%
                </div>
            </div>
        </td>
        <td colspan="2">{{ n.news.description }}</td>
        <td>
            <button class="btn btn-primary" type="button" ng-click="n.showArticles = !n.showArticles">
                <span class="glyphicon" style="font-size: 15px;"
                      ng-class="(n.showArticles) ? 'glyphicon-collapse-up' : 'glyphicon-collapse-down';"></span>
            </button>
            &nbsp;
            <button class="btn btn-primary" type="button"
                    ng-click="matchArticleWithNews(currentArticle.id, n.news.id)">Match</button>
        </td>
    </tr>
    <tr ng-repeat="article in n.matchingArticles" ng-repeat-end ng-show="n.showArticles" style="background-color: rgb(249,249,249);">
        <td><span class="glyphicon glyphicon-arrow-right"></span> {{ article.article.id }}</td>
        <td>
            <div class="progress" style="width: 100px;">
                <div class="progress-bar" ng-class="article.similarities.cosine | toProgressColor" role="progressbar"
                     aria-valuenow="{{article.similarities.cosine*100}}"
                     aria-valuemin="0" aria-valuemax="100" ng-style="{'width': article.similarities.cosine*100+'%'}">
                    {{article.similarities.cosine*100 | number : 0 }}%
                </div>
            </div>
        </td>
        <td>{{ article.article.title }}</td>
        <td>{{ article.article.source | NewspaperName }} @ {{ article.article.created | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
        <td>
            <a href="#/articles/match/details/{{currentArticle.id}}-{{article.article.id}}">Details</a>
        </td>
    </tr>
    </tbody>
</table>