<div class="col-xs-5">
    <h1>News</h1>
</div>
<dir-pagination-controls class="pagination-right"></dir-pagination-controls>
<table class="table table-striped">
    <thead>
    <tr>
        <td>Id</td>
        <td>Description</td>
        <td>Articles</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="n in news | itemsPerPage: 100">
        <td>{{n.id}}</td>
        <td>{{n.description | limitTo: 200}}</td>
        <td>{{n.size}}</td>
        <td><a href="#/news/{{n.id}}">Details</a></td>
    </tr>
    </tbody>
</table>