<h1>New Threshold Performance Evaluation Task</h1>
<div class="col-md-12 panel">
    <div class="col-md-4">
        <legend>Metric</legend>
        <div class="radio">
            <label><input type="radio" name="metric" ng-model="taskConfig.metricName" value="cosine"> Cosine</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="metric" ng-model="taskConfig.metricName" value="jaccard"> Jaccard</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="metric" ng-model="taskConfig.metricName" value="combined"> Combined</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="metric" ng-model="taskConfig.metricName" value="tanimoto"> Tanimoto</label>
        </div>
    </div>

    <div class="col-md-4">
        <legend>Threshold</legend>
        <div class="input-group">
            <span class="input-group-addon">Start</span>
            <input type="text" class="form-control" ng-model="taskConfig.start" ng-pattern="/0.[0-9]+/" required="true">
        </div>

        <div class="input-group">
            <span class="input-group-addon">Step</span>
            <input type="text" class="form-control" ng-model="taskConfig.step" ng-pattern="/0.[0-9]+/" required="true">
        </div>

        <div class="input-group">
            <span class="input-group-addon">Limit</span>
            <input type="text" class="form-control" ng-model="taskConfig.limit" ng-pattern="/[0-9]+/" required="true">
        </div>
    </div>

    <div class="col-md-4">
        <legend>Options</legend>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="taskConfig.tfidf" ng-change="taskConfig.stemming = true"> Use TF-IDF</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="taskConfig.stemming" ng-change="(taskConfig.tfidf) ? taskConfig.tfidf=false : null"> Use Stemmer</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="taskConfig.noiseWordsFilter"> Remove Stop Words</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="keywordExtraction" ng-model="taskConfig.keywordExtraction" value="headline"> Headline</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="keywordExtraction" ng-model="taskConfig.keywordExtraction" value="capitals"> Headline and Capitals</label>
        </div>
    </div>

    <div class="col-md-12" style="text-align: right;">
        <button type="button" class="btn btn-primary" ng-click="createAndStartTask(taskConfig)">Create and Start</button>
    </div>
</div>

<div class="panel col-md-12">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Creation time</th>
            <th style="width: 60%">Progress</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in taskList">
            <td>{{ task.taskId }}</td>
            <td>{{ task.created | date : "dd-MM-yyyy HH:mm:ss" }}</td>
            <td>
                <div class="progress" style="margin-bottom: 0px;" ng-if="task.active">
                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar" aria-valuenow="{{task.progress*100}}"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{'width': (task.progress*100)+'%'}">
                        {{task.progress*100 | number : 0 }}%
                    </div>
                </div>
            </td>
            <td>{{ task.status | taskStatus }}</td>
            <td style="font-size: 20px;">
                <a href="#/threshold-performance/{{ task.taskId }}" ng-if="task.status == 'COMPLETED'"><span class="glyphicon glyphicon-zoom-in"></span></a>
                &nbsp;&nbsp;
                <a href="">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>