<div class="col-xs-12">
    <h1>Articles</h1>
</div>

<dir-pagination-controls class="pagination-right"></dir-pagination-controls>

<div class="border-bottom" style="margin-top: 15px; padding-left: 30px;">
    <strong>Filters </strong>
    <div>
        <input type="checkbox" ng-model="onlyNotMatched" ng-change="onlyNotMatchedFilterChanged()"> Only not matched

        &nbsp;&nbsp;&nbsp;

        <div style="display: inline-block;">
            <input type="text" placeholder="Search..." class="form-control" ng-model="searchString" style="width: 20em; display: inline-block;">
        </div>

        &nbsp;&nbsp;&nbsp;

        <button type="button" class="btn btn-default" ng-click="refreshArticlesList()">Refresh List</button>
    </div>

    <div style="margin: 10px 0px;">
        <span>From </span>
        <input type="datetime-local" class="form-control" ng-model="datefilter.fromDate"
               style="width: 200px; display: inline-block;"
               placeholder="YYYY-MM-DDTHH:MM:SS">
        &nbsp;&nbsp;
        <span>To </span>
        <input type="datetime-local" class="form-control" ng-model="datefilter.toDate"
               style="width: 200px; display: inline-block;"
               placeholder="YYYY-MM-DDTHH:MM:SS">
    </div>

    <div style="margin: 10px 0px;">
        <span ng-repeat="newspaper in newspapers">
            <input type="checkbox" ng-model="npfilter[newspaper]"> {{newspaper | NewspaperName}}&nbsp;&nbsp;
        </span>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th ng-click="sortingCol = 'id'">Id</th>
            <th ng-click="sortingCol = 'title'">Title</th>
            <th ng-click="sortingCol = 'source'">Source</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="a in articles | NewspaperFilter : npfilter : 'source' |
        DateTimeFilter : datefilter : 'created' | filter: searchString | orderBy:sortingCol |
        filter: onlyNotMatchedFilter | itemsPerPage: 250">
            <td>{{ a.id }}</td>
            <td>{{ a.title | limitTo : 200 }}</td>
            <td>{{ a.source | NewspaperName }}</td>
            <td><a href="#/articles/{{a.id}}">Details</a></td>
            <!--<td><a href="" ng-click="deleteArticle(a)">Delete</a></td>-->
            <td><a ng-click="matchingNewsFor(a)" href="#/articles/match/{{a.id}}">Match</a></td>
        </tr>
    </tbody>
</table>