<div class="col-xs-12">
    <h1>Front Pages</h1>
</div>

<dir-pagination-controls class="pagination-right"></dir-pagination-controls>

<div class="border-bottom" style="margin-top: 15px; padding-left: 30px;">
    <strong>Filters </strong>

    <div style="margin: 10px 0px;">
        <span>From </span>
        <input type="datetime-local" class="form-control" ng-model="filter.fromDate"
               style="width: 200px; display: inline-block;"
               placeholder="YYYY-MM-DDTHH:MM:SS">
        &nbsp;&nbsp;
        <span>To </span>
        <input type="datetime-local" class="form-control" ng-model="filter.toDate"
               style="width: 200px; display: inline-block;"
               placeholder="YYYY-MM-DDTHH:MM:SS">
    </div>

    <div style="margin: 10px 0px;">
        <span ng-repeat="newspaper in newspapers">
            <input type="checkbox" ng-model="npfilter[newspaper]"> {{newspaper | NewspaperName}}&nbsp;&nbsp;
        </span>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Timestamp</th>
        <th>Newspaper</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="frontpage in frontpages | DateTimeFilter : filter : 'timestamp' | NewspaperFilter : npfilter : 'newspaper' | itemsPerPage: 100">
        <td>{{ frontpage.id }}</td>
        <td>{{ frontpage.timestamp | date : "dd-MM-yyyy HH:mm:ss"}}</td>
        <td>{{ frontpage.newspaper | NewspaperName }}</td>
        <td>
            <a href="#/front-pages/{{ frontpage.id }}">Details</a>
        </td>
    </tr>
    </tbody>

</table>