<div class="col-xs-5">
    <h1>News Relevances</h1>
</div>

<div class="col-xs-12 border-bottom">
    <label>Clustering:</label>
    <select class="form-control" style="display: inline-block; width: 120px;"
            ng-model="selectedClustering" ng-change="clusteringChange()"
            ng-options="c.name as c.name for c in clusterings">
    </select>

    &nbsp;&nbsp;&nbsp;

    <span>
        <strong>Search: </strong>&nbsp;
        <input type="text" class="form-control" ng-model="searchString" style="width: 20em; display: inline-block;">
    </span>

    &nbsp;&nbsp;&nbsp;

    <dir-pagination-controls class="pagination-right"></dir-pagination-controls>

</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Description</th>
        <th>Articles</th>
        <th></th>
        <th>Relevance</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="n in news | filter: searchString | itemsPerPage: 100">
        <td>
            <input type="checkbox" ng-model="n.selected">
        </td>
        <td>{{n.news.id}}</td>
        <td>{{n.news.description | limitTo: 200}}</td>
        <td>{{n.news.size}}</td>
        <td>
            <div class="progress" style="width: 100px;">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="{{ n.normalizedRelevance*100 }}"
                     aria-valuemin="0" aria-valuemax="100" ng-style="{'width': n.normalizedRelevance*100+'%'}">
                </div>
            </div>
        </td>
        <td>{{ n.relevanceSum | number : 2 }}</td>
        <td></td>
        <td><a href="#/news-relevances/{{selectedClustering}}/{{n.news.id}}">Details</a></td>
    </tr>
    </tbody>
</table>