<div class="col-xs-5">
    <h1>News Lifetime</h1>
</div>

<div class="col-xs-12 border-bottom" style="margin-bottom: 8px;">
    <label style="line-height: 40px;">Clustering:</label>
    <select class="form-control" style="display: inline-block; width: 120px;"
            ng-model="selectedClustering" ng-change="clusteringChange()"
            ng-options="c.name as c.name for c in clusterings">
    </select>
</div>

<pre>
    <h4>Relevance Lifetime</h4>
        <b>Average:</b> {{ data.relevanceLifetimeAvg | duration }}
         <b>Median:</b> {{ data.relevanceLifetimeMedian | duration }}
            <b>Min:</b> {{ data.relevanceLifetimeMin | duration }}
            <b>Max:</b> {{ data.relevanceLifetimeMax | duration }}
<b>Interdecile Avg:</b> {{ data.relevanceLifetimeInterdecileMean | duration }}
    <h4>Time Range</h4>
        <b>Average:</b> {{ data.timeRangeAvg | duration }}
         <b>Median:</b> {{ data.timeRangeMedian | duration }}
            <b>Min:</b> {{ data.timeRangeMin | duration }}
            <b>Max:</b> {{ data.timeRangeMax | duration }}
<b>Interdecile Avg:</b> {{ data.timeRangeInterdecileMean | duration }}

</pre>

<!--<canvas id="relevanceChart" class="chart chart-line" chart-data="chartData.values"-->
        <!--chart-labels="chartData.labels" chart-series="chartData.series" chart-legend="true"-->
        <!--chart-options="chartOptions" height="100"></canvas>-->

<div class="col-xs-12" style="margin-top: 10px; margin-bottom: 20px;">
    <span>
        <strong>Search: </strong>&nbsp;
        <input type="text" class="form-control" ng-model="searchString" style="width: 20em; display: inline-block;">
    </span>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>News Description</th>
        <th>Relevance Lifetime</th>
        <th>Time Range</th>
        <th>Activity</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat=" lt in data.lifetimes | filter: searchString | orderBy : 'relevanceLifetime' : true">
        <td>{{ lt.news.id }}</td>
        <td>{{ lt.news.description | limitTo: 150 }}</td>
        <td>{{ lt.relevanceLifetime | duration }}</td>
        <td>{{ lt.timeRange | duration }}</td>
        <td>{{ (lt.relevanceLifetime/lt.timeRange)*100 | number : 0 }} %</td>
        <td>
            <div class="progress" style="width: 60px;">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="{{ (lt.relevanceLifetime/lt.timeRange)*100 }}"
                     aria-valuemin="0" aria-valuemax="100" ng-style="{'width': (lt.relevanceLifetime/lt.timeRange)*100+'%'}">
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>