<div class="col-xs-5">
    <h1>News Lifetime</h1>
</div>

<div class="col-xs-12 border-bottom" style="margin-bottom: 8px;">
    <label style="line-height: 40px;">Clustering:</label>
    <select class="form-control" style="display: inline-block; width: 120px;"
            ng-model="selectedClustering" ng-change="clusteringChange()"
            ng-options="c.name as c.name for c in clusterings">
    </select>
</div>

<pre>
        <b>Average:</b> {{ data.average | duration }}
         <b>Median:</b> {{ data.median | duration }}
            <b>Min:</b> {{ data.min | duration }}
            <b>Max:</b> {{ data.max | duration }}
<b>Interdecile Avg:</b> {{ data.interquartileMean | duration }}

</pre>

<canvas id="relevanceChart" class="chart chart-line" chart-data="chartData.values"
        chart-labels="chartData.labels" chart-series="chartData.series" chart-legend="true"
        chart-options="chartOptions" height="100"></canvas>

<div class="col-xs-12" style="margin-top: 10px; margin-bottom: 20px;">
    <span>
        <strong>Search: </strong>&nbsp;
        <input type="text" class="form-control" ng-model="searchString" style="width: 20em; display: inline-block;">
    </span>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>News Description</th>
        <th>Lifetime</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="point in data.distribution | filter: searchString | orderBy: point.value : true">
        <td>{{ point.label | limitTo : 150 }}</td>
        <td>{{ point.value | duration }}</td>
    </tr>
    </tbody>
</table>