<div class="col-xs-5">
    <h1>News</h1>
</div>

<div class="col-xs-12 border-bottom">
    <label>Clustering:</label>
        <select class="form-control" style="display: inline-block; width: 120px;"
                ng-model="selectedClustering" ng-change="clusteringChange()"
                ng-options="c.name as c.name for c in clusterings">
        </select>

    &nbsp;&nbsp;&nbsp;

    <span>
        <strong>Search: </strong>&nbsp;
        <input type="text" class="form-control" ng-model="searchString" style="width: 20em; display: inline-block;">
    </span>

    &nbsp;&nbsp;&nbsp;

    <button type="button" ng-click="mergeNews()" class="btn btn-default">Merge News</button>

    <dir-pagination-controls class="pagination-right"></dir-pagination-controls>

</div>

<table class="table table-striped">
    <thead>
    <tr>
        <td></td>
        <td>Id</td>
        <td>Description</td>
        <td>Articles</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="n in news | filter: searchString | itemsPerPage: 100">
        <td>
            <input type="checkbox" ng-model="n.selected">
        </td>
        <td>{{n.id}}</td>
        <td>{{n.description | limitTo: 200}}</td>
        <td>{{n.size}}</td>
        <td><a href="#/news/{{n.id}}">Details</a></td>
    </tr>
    </tbody>
</table>